<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Query and Plot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="message-area"></div>
    <div id="success-popup" class="popup">
      <div class="popup-content">
        <span class="close-button">&times;</span>
        <div id="popup-messages" style="max-height: 300px; overflow-y: auto;"></div>
      </div>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Soil Database Tool</h1>

    <h2>Upload Excel File</h2>
    <form id="upload-form" method="post" enctype="multipart/form-data" action="/upload">
      <label for="excel-file">Select Excel Files:</label>
      <input type="file" id="excel-file" name="excel_files" accept=".xlsx" multiple required><br><br>

      <label for="password">Encryption Password (optional):</label>
      <input type="password" id="encrypt_password" name="encrypt_password" placeholder="Enter password to encrypt data"><br><br>

      <button type="submit">Upload and Process</button>
    </form>

    <form id="filter-form">
      <!-- Spreadsheets selection -->
      <div id="spreadsheet-selection">
        <h2>Spreadsheet Selection</h2> <!-- Updated heading -->

        <!-- New Checkbox to Toggle Individual Selection -->
        <div>
          <input type="checkbox" id="select-individual" name="select_individual">
          <label for="select-individual">Select Individual Spreadsheets</label>
        </div>

        <!-- Hidden Div for Individual Spreadsheet Selection -->
        <div id="individual-selection" style="display: none; margin-top: 10px;">
          <!-- Public (Non-Encrypted) Tables -->
          <div id="public-tables">
            <h3>Public Tables:</h3>
            <div id="table-checkboxes">
              {% for table in tables %}
                {% if not table.encrypted %}
                <div>
                  <!-- Checkbox for table selection -->
                  <input type="checkbox" name="table_name[]" value="{{ table.spreadsheet_name }}" checked> 
                  {{ table.spreadsheet_name }}<br>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <!-- Button to Clear Selections -->
            <button type="button" id="clear-public">Clear Public Selections</button>
          </div>

          <!-- Encrypted Tables -->
          <div id="encrypted-tables" style="margin-top: 20px;">
            <h3>Encrypted Tables:</h3>
            <div id="encrypted-table-checkboxes">
              {% for table in tables %}
                {% if table.encrypted %}
                <div>
                  <!-- Checkbox for encrypted table selection -->
                  <input type="checkbox" name="table_name[]" value="{{ table.spreadsheet_name }}" checked> 
                  {{ table.spreadsheet_name }}<br>
                </div>
                {% endif %}
              {% endfor %}
            </div>
            <!-- Button to Clear Selections -->
            <button type="button" id="clear-encrypted">Clear Encrypted Selections</button>
          </div>
        </div>
      </div>

      <!-- Instances selection -->
      <div id="instance-selection">
        <label for="instance-select">Select instance(s):</label>
        {% for key, values in instances.items() %}
        <div>
          <input type="checkbox" id="{{ key }}" name="instance_names" value="{{ key }}" onclick="toggleValueChecklist(this)">
          <label for="{{ key }}">{{ key }}</label>
          <div class="value-checklist" style="display: none;">
            {% for value in values %}
            <input type="checkbox" id="{{ key }}_{{ value }}" name="{{ key }}_values" value="{{ value }}">
            <label for="{{ key }}_{{ value }}">{{ value }}</label><br>
            {% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>



      <!-- X-Axis selection -->
      <div id="preset-options-container">
        <h3>Preset plot options:</h3>
        <select name="preset-options" id="preset-options">
          <option value="None">None</option>
          <option value="non_calc_1">p', q, induced PWP vs axial strain </option>
          <option value="non_calc_2">q vs p'</option>
          <option value="non_calc_3">Vol strain vs axial strain</option>
          <option value="calc_1">e vs log(p')</option>
          <option value="calc_2">q/p' vs axial strain</option>
          <option value="calc_3">qmax/p' vs p'</option>
        </select>
      </div>

      <br>
      <!-- Preset vs Custom Graph Selection -->
      <div>
        <input type="checkbox" id="custom-graph" name="custom_graph">
        <label for="custom-graph">Custom Graph</label>
      </div>
      
      <!-- Custom X/Y Axis selection (hidden by default) -->
      <div id="custom-axis-selection" style="display: none; margin-top: 10px;">
        <div>
          <h3>Select X-Axis:</h3>
          <select name="x_axis" id="x_axis">
            {% for column in x_axis_options %}
            <option value="{{ column }}">{{ column.replace('_', ' ').capitalize() }}</option>
            {% endfor %}
          </select>
          <p>X-axis is only added if preset plot options is set at 'None'</p>
        </div>

        <div>
          <h3>Select Y-Axis (Select multiple columns with checkboxes):</h3>
          <div id="y-axis-container">
            {% for column in y_axis_options %}
            {% if column == 'p' %}
            <input type="checkbox" name="y_axis" value="{{ column }}" > p'<br>
            {% else %}
            <input type="checkbox" name="y_axis" value="{{ column }}" > {{ column.replace('_', ' ').capitalize() }}<br>
            {% endif %}
            {% endfor %}
          </div>
          <p>Y-axes can be added to preset plots options.</p>
        </div>
      </div>

      <!-- Decryption password -->
      <label for="decrypt_password">Decryption Password:</label>
      <input type="password" id="decrypt_password" name="decrypt_password"><br><br>

      <button type="submit">Generate Plot</button>
    </form>

    <!-- Container to display the plot -->
    <h2>Generated Plot:</h2>
    <div id="plot-message-area"></div>

    <div id="file-passing"></div>
    <button id="fullscreen-button" onclick="toggleFullScreen()">Full Screen</button>

    <div id="plot-container"></div>

    <!-- Link to external JavaScript file -->
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <!-- Include Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  </body>
</html>

